<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuantityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CryashopActivity"
            android:label="@string/title_activity_cryashop">

        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".BankingActivity"></activity>
        <activity android:name=".MyshippingActivity" />
        <activity android:name=".BodywashActivity" />
        <activity android:name=".BrandsActivity" />
        <activity android:name=".CheckoutforeverActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".VendorcontactActivity" />
        <activity android:name=".VendorprofileActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>